#auth-section, #app-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

#auth-section form, #app-container form {
  display: flex;
  flex-direction: column;
}

#auth-section form input, #app-container form input, #app-container form textarea {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

#app-container button {
  margin-top: 10px;
}

textarea {
  resize: none;
}
